# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# production build outputs
/dist
/build
/out

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env*
.env.local

# Vercel & IDE
.vercel
.vscode
.idea
